@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    font-family: 'Be Vietnam Pro', sans-serif; /*Se utiliza misma font-family en todo el sitio*/
    box-sizing: border-box;
    margin: 0;
}

/*Configuración del HEADER*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 77px;
    margin-bottom: 100px;
}
  /*Menú con hipervínculos*/
header nav {
   width: 60%;
   display: flex;
   justify-content: space-between;
}
header nav ul {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-weight: 500;
    font-size: 0.81rem;
    color: #242E52;
    line-height: 23px;
}
header nav ul a:link, header nav ul a:visited, header nav ul a:active {
    text-decoration:none; 
    color: #242E52;
}
header nav ul a:hover {
    color: rgb(143, 148, 167); 
}
  /*Configuración del enlace "Get Started" para todo el sitio*/
.getstarted {
   font-weight: 500;
   font-size: 0.82rem;
   color: #FFFFFF;
   box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
   background-color: #F3603B;
   padding: 12.5px 30.5px;
   border-radius: 50px;
}
a.getstarted:link, a.getstarted:visited, a.getstarted:active {
    text-decoration:none;
    color: #FFFFFF;
}  
a.getstarted:hover {
    background-color: rgb(255, 171, 145); 
}
header div { /*Oculto el ícono hamburguesa*/
    display: none;
    color:#232C50;
}

/*Fin configuración del HEADER*/

/*Configuracion del MAIN*/

  /*SECCIÓN 1*/
.sectionone {
     margin-left: 8%;
     margin-right: 2%;
     display: flex;
     align-items: center;
}     
.sectionone div h2 {
    font-weight: 700;
    font-size: 3.625rem;
    color: #232C50;
}
.sectionone div p {
    font-weight: 500;
    font-size: 1rem;
    color: #B3B2B7;
    padding: 28px 0px;
    width: 60%;
}
.sectionone img {
    width:60%;
    height: 60%;
}
/*SECCIÓN 2*/
.sectiontwo {
    margin-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    align-items: flex-start;
}
.manage {
    margin-right: 100px;
} 
.sectiontwo div h3 {
    font-weight: 700;
    font-size: 2.25rem;
    color: #232851;
}
.sectiontwo div p {
    font-weight: 500;
    font-size: 1rem;
    color:  #B3B2B7;
    margin-top: 36px;
    width: 80%;
}
.numbers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.numbers span {
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #F3603B;
    padding: 10px 25px;
    border-radius: 30px;
}
.numbers span:nth-child(1) {
    margin-bottom: 100px;
}
.numbers span:nth-child(2) {
    margin-bottom: 90px;
}
.sectiontwo section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.sectiontwo section article {
    margin-bottom: 42px;
    margin-left: 23px;
}
.sectiontwo section article span {
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
    color: #323851;
}
.sectiontwo section article p {
    font-weight: 500;
    font-size: 1rem;
    color: #B3B2B7;
    margin-top: 18px;
}
   /*SECCIÓN 3*/
.sectionthree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
}
.sectionthree h3 {
    font-weight: 700;
    font-size: 2.43rem;
    color: #242E53;
    margin-top: 110px;
    margin-bottom: 40px;
}
.sectionthree section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 74px;
}
.sectionthree section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 29px;
    background:  #FAFAFA;
}
.sectionthree section article span {
    font-weight: 700;
    font-size: 1rem;
    line-height: 25px;
    color: #3F4868;
    padding: 0px 20px 20px 20px;
}
.sectionthree section article img {
    position: relative;
    bottom: 60px;
}
.sectionthree section article p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 25px;
    color: #B9B9C1;
    text-align: center;
    margin-bottom: 40px;
}
.sectionthree a {
    text-align: center;
    margin-top: 84px;
    margin-bottom: 180px;
}
.circleoptions {
    display: none;
}

  /*SECCIÓN 4*/
.sectionfour {
    padding: 70px 165px;
    background: #F3613C;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sectionfour h2 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 48px;
    color: #FFFFFF;
    width: 50%;
}
.sectionfour a.getstarted {/*Botón "getstarted" distinto*/
   font-weight: 500;
   font-size: 0.82rem;
   color:#F3603B;
   background-color: #FFFFFF;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.sectionfour a.getstarted:hover {
    color: rgb(255, 171, 145); 
}
/*FIN configuración del MAIN*/

/*Configuración del FOOTER*/

footer {
    background: #1E1E26;
    padding: 50px 165px;
}
footer section {
    display: flex;
    justify-content: space-between;
}
footer section div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
    /*Logos de redes sociales*/
footer section div div {
    display: flex;
    flex-direction: row;
} 
footer section div div a {
    color: #FFFFFF;
    font-size: 25px;
}
footer section div div a:hover {
    color: #F3613C;
}

   /*Opciones en lista*/
footer section div.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}
footer section div.options ul {
    list-style-type: none;
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
}
footer section div.options ul li {
    margin-bottom: 12px;
}
footer section div.options ul li a:hover {
    color: #F3613C;
    cursor: pointer;
}
   /*Formulario*/
footer section form input {
    padding: 12.5px 10px;
    border-radius: 50px;
    border: none;
}
footer section form button {
    font-weight: 500;
    font-size: 0.82rem;
    line-height: 19px;
    color: #FFFFFF;
    background: #F3603B;
    border-radius: 50px;    
    padding: 11.5px 22.5px;
    border: none;
    margin-left: 9px;
}
footer section form button:hover {
    background-color: rgb(255, 171, 145);
    cursor: pointer;
}
  /*Copyright*/
  
footer p {
    color: #8C8C94;
    font-weight: 500;
    font-size: 0.78rem;
    line-height: 18px;
    text-align: end;
}

/*Celular 375px*/

@media (max-width: 1099px) {
    header nav ul, header a { /*Oculto menú y getstarted*/
            display: none;
        }
    header div { /*Habilito ícono hambr*/
        display: block;
    }
    header {
        display: inline;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }
        /*Sección 1*/
    .sectionone {
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .sectionone div h2 {
        font-size: 2rem;
        text-align: center;
    }
    .sectionone div p {
        font-size: 0.80rem;
        text-align: justify;
        width: 75%;
        margin-left: 15%;
    }
    .sectionone img {
        width: 90%;
        order: -1;
    }
        /*Sección 2*/
    .sectiontwo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }
          /*DIV MANAGE*/  
    .manage {
        margin-left: 10%;
        margin-right:10%;
    }     
    div.manage h3 {
        font-size: 1.8rem;
        margin: 0px;
        text-align: center;
    }
    div.manage p {
        font-size: 0.7rem;
        text-align: center;
        line-height: 20px;
        margin: 30px 0px;
        width: 100%;
    }
        /*DIV NUMBERS*/
    .numbers {
        display: none;
    }
        /*SECTION CON ARTICLES*/
    .sectiontwo section article {
        width: 94%;
    }
    .sectiontwo section article span {
        font-size: 0.87rem;
        background: rgb(255, 239, 234);
        padding: 5px 0px;
        display: block;
        text-align: center;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
    }
    .sectiontwo section article:nth-child(1)::before {
        font-weight: 700;
        font-size: 0.87rem;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        background: #F3603B;
        padding: 8px 18px;
        border-radius: 30px;
        position: relative;
        top: 30px;
        z-index: 10;
        content: "01";
    }
    .sectiontwo section article:nth-child(2)::before {
        font-weight: 700;
        font-size: 0.80rem;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        background: #F3603B;
        padding: 8px 18px;
        border-radius: 30px;
        position: relative;
        top: 30px;
        z-index: 10;
        content: "02";
    }
    .sectiontwo section article:nth-child(3)::before {
        font-weight: 700;
        font-size: 0.80rem;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        background: #F3603B;
        padding: 8px 18px;
        border-radius: 30px;
        position: relative;
        top: 30px;
        z-index: 10;
        content: "03";
    }
    .sectiontwo section article p {
        font-size: 0.80rem; 
        align-items: initial;
        line-height: 25px;
        width: 90%;
    }

      /*Sección 3*/
    .sectionthree {
        margin-left: 5%;
        margin-right: 5%;
    }
    .sectionthree h3 {
        font-size: 1.8rem;
        margin-top: 15px;
        text-align: center;
    }
    .sectionthree section article:nth-child(1) {
        display: none;
    }
    .sectionthree section article:nth-child(2) {
        margin: 15px 0px;
        
    }
    .sectionthree section article:nth-child(3) { 
        display: none;
    }
    .circleoptions {
        display: block;
        color:  #F3603B;
        font-size: 10px;
        display: flex;
        flex-direction: row;
        margin-top: 10%;
    }
    .fa-circle {
        margin-left: 5px;
    }
    .sectionthree a {
        margin-top: 50px;
        margin-bottom: 100px;
    }
       /*Sección 4*/
    .sectionfour {
        height: 300px;
        padding: 15% 7%;
        flex-direction: column;
        justify-content: space-between;
    }
    .sectionfour h2 {
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
    /*Footer*/
    footer {
        padding: 10%;
    }
    footer section {
        flex-direction: column-reverse;
    }
       /*Formulario*/
    footer section form {
        display: flex;
        justify-content: space-around;
    }
    footer section form button {
        margin: 0px;
    }
        /*Opciones en lista */
    footer section div.options {
        width: 100%;
        margin: 10% 0;
    }
    footer section div.options ul {
        font-size: 0.8rem;
    }
       /*Logo y redes sociales*/
    footer section div {
        flex-direction: column-reverse;
        align-items: center;
    }
    footer section div div {
        width: 80%;
        justify-content: space-between;
        margin-bottom: 30px;
    }
       /*Copyright*/
    footer p {
        font-weight: 400;
        font-size: 0.5rem;
        line-height: 18px;
        text-align: center;
        margin-top: 30px;
    }
}

